* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(288deg, #c2e9fb 0%, #a1c4fd 100%);
  display: grid;
  place-items: center;
  height: 100vh;
}

.hide {
  display: none !important;
}

.box {
  margin-top: -12rem;
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
  align-items: center;
  gap: 48px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  width: 450px;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input,
button {
  padding: 1rem;
  border: none;
  outline: none;
  box-shadow: none;
}

input {
  background-color: #dce2e9;
  width: 4rem;
  box-shadow: none;
}
button {
  background-color: #7879f1;
  color: #fff;
  cursor: pointer;
}

.input-wrap {
  display: flex;
  border-radius: 0.25rem;
  overflow: hidden;
}
.error {
  color: red;
}
